# Azure needs to fetch hostname from metadata
# during the initramfs

[Unit]
Description=Afterburn hostname
ConditionKernelCommandLine=|ignition.platform.id=azure
After=ignition-disks.service
Before=ignition-files.service

OnFailure=emergency.target
OnFailureJobMode=isolate

[Service]
ExecStart=/usr/bin/afterburn --cmdline --hostname=/sysroot/etc/hostname
Type=oneshot
